.workspace {
  height: 300px;
  position: relative;
}

.note {
  background-color: #fff;
  display: block;
  min-height: 50px;
  padding: 10px;
  position: absolute;
  width: 250px;
}

.board{
  background-color: rgba(232, 216, 181, 0.55);
  height:800px;
  width:1000px;
}
