md-toolbar {
  z-index: 100;
}

.workspace {
  height: 300px;
  position: relative;
  background-color: rgba(232, 216, 181, 0.55);
}

.note {
  background-color: #fff;
  display: block;
  height: 150px;
  padding: 10px;
  position: absolute;
  width: 250px;
}

.md-whiteframe-z1 {
  z-index: 10;
}

.md-whiteframe-z2 {
  z-index: 20;
}

.green {
  background-color: #a5d6a7;
}

.pink {
  background-color: #f48fb1;
}
