/* structure */
html, body {
  min-height: 100%;
}

hr {
  clear: both;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container.list,
.container.auto,
.container.add,
.container.edit {
  height: auto;
}

[ng-view] {
  display: flex;
  flex-grow: 1;
}

.workspace {
  min-height: 100%;
  flex-grow: 1;
}

.board .workspace {
  flex-grow: 1;
}

/* layout */
md-toolbar {
  position: relative;
}

.md-button.settings {
  position: absolute;
  top: 28px;
  right: 28px;
}

.smart-button {
  background: #ffeb3b;
  position: relative;
  top: -30px;
  left: 28px;
  z-index: 30;
}

.smart-button.smart-button md-icon {
  margin: 9px;
}

.md-button.md-default-theme.md-fab:hover:not([disabled]) {
  background: #fdd835;
}

.workspace {
  position: relative;
  background-color: rgba(237, 237, 237, 0.55);
}

.note {
  background-color: #fff;
  display: block;
  padding: 10px;
  position: absolute;
  width: 250px;
}

.edit .note {
  position: static;
  margin: 10px;
}

.md-track {
  background-color: rgba(0, 0, 0, 0.26);
}

.md-track-fill {
  background-color: #2196F3;
}

.md-thumb:after {
  background-color: #2196F3;
  color: #2196F3;
}

md-slider.md-red-theme .md-track-fill {
  background-color: #F44336;
}

md-slider.md-red-theme .md-thumb:after {
  background-color: #F44336;
  color: #F44336;
}

md-slider.md-green-theme .md-track-fill {
  background-color: #00C853;
}

md-slider.md-green-theme .md-thumb:after {
  background-color: #00C853;
  color: #00C853;
}

.note h3 {
  margin-top: 0;
}

.note .md-button {
  position: absolute;
  top: 0;
}

.note .edit {
  right: 0;
}

.note .archive {
  right: 2rem;
}

.note .remove {
  right: 4rem;
}

md-icon {
  width: 24px;
}

.md-whiteframe-z1 {
  z-index: 10;
}

.md-whiteframe-z2 {
  z-index: 20;
}

.note-preview {
  width:50px;
  height: 50px;
  margin:5px;
}

.logo {
  color: white;
  text-decoration: none;
  text-align: center;
}

.md-dialog-container.md-active md-dialog {
  z-index:100;
}

.authors-dialog {
  padding-bottom: 10px;
  width: 300px;
}

.person .pic {
  margin: 1px 5px 4px;
  border-radius: 28px;
  float: left;
  filter: sepia(0.6);
  -webkit-filter: sepia(0.6);
  -moz-filter: sepia(0.6);
  -o-filter: sepia(0.6);
  -ms-filter: sepia(0.6);
}

.person .pic:hover{
  filter: sepia(0);
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  -ms-filter: sepia(0);
}

.grzesiek .pic {
  float: right;
}
