<div class="workspace" sn-dimensions="boardSize">
  {{boardSize}}
  <div drag class="note"
      sn-dimensions="note._dimensions"
      on-drag="drag(note)" on-move="move(note, deltaX, deltaY, boardSize)" on-drop="drop(note)"
      ng-style="style(note)"
      ng-class="{'md-whiteframe-z1': !note._dragged, 'md-whiteframe-z2': note._dragged, '{{note.color}}': true}"
      ng-repeat="note in notes">
    <h3>{{note.title}}</h3>
    {{note.description}}

    <br/>
    <small>[{{note._dimensions.x}}, {{note._dimensions.y}}]</small>
    <small>[{{note.position.x}}, {{note.position.y}}]</small>
    <md-button ng-click="remove(notes, note)">
      <md-icon icon="/images/clear5.svg">Remove</md-icon>
    </md-button>
    <md-button ng-href="#/edit/{{$index}}">
      <md-icon icon="/images/create3.svg">Edit</md-icon>
    </md-button>
  </div>
</div>
