<div class="workspace" sn-dimensions="boardSize">
  {{boardSize}}
  <div drag class="note"
      on-drag="drag(note)" on-move="move(note, deltaX, deltaY, boardSize)" on-drop="drop(note)"
      ng-style="style(note)"
      ng-class="{'md-whiteframe-z1': !note._dragged, 'md-whiteframe-z2': note._dragged, '{{note.color}}': true}"
      ng-repeat="note in notes">
    <h3>{{note.title}}</h3>
    {{note.description}}

    <br/>
    <small>[{{note.position.x}}, {{note.position.y}}]</small>
    <button ng-click="remove(notes, note)">Remove</button>
    <a ng-href="#/edit/{{$index}}"> <button >Edit</button></a>
  </div>
</div>
