<form class="edit">
  <div class="note md-whiteframe-z1" ng-attr-style="background: rgb({{note.color.red}},{{note.color.green}},{{note.color.blue}})">
    <md-input-container>
      <label>Title</label>
      <input ng-model="note.title" />
    </md-input-container>
    <md-input-container>
      <label>Description</label>
      <textarea ng-model="note.description"></textarea>
    </md-input-container>
  </div>

  Custom color:

  <md-content class="md-padding">
    <div layout>
      <div layout layout-align="center center">
        <span>R</span>
      </div>
      <md-slider md-theme="red" flex min="0" max="255" ng-model="note.color.red" aria-label="red" id="red-slider">
      </md-slider>
    </div>
    <div layout>
      <div layout layout-align="center center">
        <span>G</span>
      </div>
      <md-slider md-theme="green" flex ng-model="note.color.green" min="0" max="255" aria-label="green" id="green-slider">
      </md-slider>
    </div>
    <div layout>
      <div layout layout-align="center center">
        <span>B</span>
      </div>
      <md-slider md-theme="blue" flex ng-model="note.color.blue" min="0" max="255" aria-label="blue" id="blue-slider">
      </md-slider>
    </div>
  </md-content>

  <md-checkbox ng-model="note.date" aria-label="Due date">
      Due date
  </md-checkbox>
  <md-input-container>
    <label>Due date</label>
    <input ng-model="note.dateValue" type="date" />
  </md-input-container>

  <md-button ng-click="done(note)" class="md-raised md-primary" aria-label="Add">Done</md-button>
  <md-button ng-click="reset(note)" class="md-raised" aria-label="Reset">Reset</md-button>
  <md-button ng-click="cancel()" class="md-raised md-warn" aria-label="Cancel">Cancel</md-button>
</form>
