<md-bottom-sheet class="md-grid">
  <md-list>
    <md-item>
      <md-button ng-click="cleanBoard()" aria-label="Clean board">
        <md-inline-grid-icon icon="/images/ic_delete_24px.svg"></md-inline-grid-icon>
        Clean board
      </md-button>
    </md-item>
    <md-item>
      <md-button ng-click="exitSettings()" aria-label="Exit settings">
        <md-inline-grid-icon icon="/images/ic_arrow_back_24px.svg"></md-inline-grid-icon>
        Exit settings
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>
